* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.body {
    margin: 0;
    padding: 0;
    background-color: #c9c9c9;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 1em 1.5em;
    background-color: #ffffff;
    border-bottom: #818181;
}

.button {
    height: 2rem;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: #888;
}

.button:hover {
    color: red;
    text-shadow: rgb(255, 145, 145) 0px 0px 1px;
}

/*CONTENEDOR TODO*/
.main-content {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 1em;
    word-wrap: break-word;
    max-height: 85dvh;
    background-color: #f3f3f3;
    scrollbar-width: none;
}

select:hover {
    cursor: pointer;
}

button {
    cursor: pointer;
}

input {
    cursor: pointer;
}

.filter-box {
    background-color: #ffffff;
    /*border: 2px solid #00aaff;*/
    border: none;
    border-radius: 15px;
    box-shadow: #e2e2e2 0px 0px 5px 2px;
    padding: 20px;
    box-sizing: border-box;
    width: 20vw;
    height: 85dvh;
    overflow-y: scroll;
    overflow-wrap:anywhere;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.filter-box label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.filter-box select,
.filter-box input[type="text"]
{
    width: 100%;
    padding: 10px;
    border: 1.5px solid #00aaff;
    border-radius: 6px;
    font-size: 14px;
    margin-bottom: 10px;
}

.filter-box input[type="range"] {
    width: calc(100% - 16px);
    margin: 0 8px;
    /*appearance: none;*/
    height: 6px;
    border: 1.5px solid #00aaff;
    border-radius: 4px;
    outline: none;
    margin-bottom: 10px;
}

.type-radio {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.filters-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
}

.filter-column label {
    display: block;
    font-weight: normal;
    margin: 2px 0;
}

.filter-btn {
    margin-top: 15px;
    width: 100%;
    background-color: #00aaff;
    color: white;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.filter-btn:hover {
    background-color: #007bff;
}

.content {
    display: flex;
    flex-direction: column;
    height: 84vh;
    width: 80vw;
    gap: 1em;
    overflow-y: scroll;
    scrollbar-width: none;
}

/*BARRA DE BUSQUEDA*/
#inicio {
    font-size: x-large;
}

.box-h {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    padding: 0px 40px;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #00aaff;
    border-radius: 15px 30px 30px 15px;
}

.search-box input {
    flex: 1;
    padding: 0.5em;
    height: 1em;
    border: 2px solid #00aaff;
    border-radius: 7px 0px 0px 7px;
    outline: none;
}


.search-btn {
    background-color: transparent;
    cursor: pointer;
    height: 2em;
    border: none;
}

.search-btn img {
    width: auto;
    height: auto;
}

/*CONTENEDOR DE INFORMACION DEL USUARIO*/
.profile-card {
    display: flex;
    justify-content: flex-start;
    background-color: #ffffff;
    /*border: 2px solid #00aaff;*/
    border: none;
    border-radius: 20px;
    padding: 15px 20px;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
}

.user {
    width: 4em;
    height: 4em;
    background-size: cover;
    background-color: #00aaff;
    background-position: center;
    /*background-image: url("../../imagenes/LOGIN.jpg");*/
    border-radius: 100%;
    aspect-ratio: 4;
}

.profile-card div {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    font-size: medium;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
    gap: 0.5em;
}

.profile-card span {
    /*font-size: 12px;*/
    color: #555;
}

.profile-card a {
    color: #007bff;
    text-decoration: none;
}

#inicio{
    color: rgb(0, 0, 0);
}

#menu_icon {
    display: none;
}

.admin_inf {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

@media (max-width: 767px) {
    .admin_inf {        
        display: none;
    }

    #menu_icon {
        display: block;
    }

    #menu_icon:hover {
        cursor: pointer;
    }

    .filter-box {
        z-index: 2;
        width: 90vw;
        position: absolute;
        transition: all 0.3s ease-in-out;
    }

    .aside_close {
        transition: all 0.3s ease-in-out;
        transform: translateX(-110vw);
    }

    .box-v {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main-content {
        gap: 0;
    }

    .content {
        width: 100dvw;
    }
}