
.open-sans-text {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.body {
    margin: 0;
    background-color: #F3F7FB;
}
/*
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #ffffff;
}
*/

/*CONTENEDOR TODO*/
.main-content {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 1em;
    word-wrap: break-word;
    flex-wrap: wrap;
}

.filter-box {
    background-color: #ffffff;
    border: 2px solid #00aaff;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    width: 20vw;
}

.filter-box label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.filter-box select,
.filter-box input[type="text"]
{
    width: 100%;
    padding: 10px;
    border: 1.5px solid #00aaff;
    border-radius: 6px;
    font-size: 14px;
    margin-bottom: 10px;
}


.filter-box input[type="range"] {
    width: calc(100% - 16px);
    margin: 0 8px;
    /*appearance: none;*/
    height: 6px;
    border: 1.5px solid #00aaff;
    border-radius: 4px;
    outline: none;
    margin-bottom: 10px;
}


.type-radio {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.filters-columns {
    display: flex;
    justify-content: space-between;
}

.filter-column label {
    display: block;
    font-weight: normal;
    margin: 2px 0;
}

.filter-btn {
    margin-top: 15px;
    width: 100%;
    background-color: #00aaff;
    color: white;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.content {
    flex: 1;
}

/*BARRA DE BUSQUEDA*/
#inicio {
    font-size: x-large;
}

.box-h {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    padding: 0px 40px;
}

.box-v {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 84vh;
    gap: 1em;
    overflow-y: scroll;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #00aaff;
    border-radius: 15px 30px 30px 15px;
}

.search-box input {
    flex: 1;
    padding: 0.5em;
    height: 1em;
    border: 2px solid #00aaff;
    border-radius: 7px 0px 0px 7px;
    outline: none;
}


.search-btn {
    background-color: transparent;
    cursor: pointer;
    height: 2em;
    border: none;
}

.search-btn img {
    width: auto;
    height: auto;
}

/*CONTENEDOR DE INFORMACION DEL USUARIO*/
.profile-card {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border: 2px solid #00aaff;
    border-radius: 20px;
    padding: 15px 20px;
    width: 70vw;
    justify-content: flex-start;
    gap: 4em;
}

.user {
    width: 5em;
    height: 5em;
}

.profile-card div {
    display: flex;
    flex-direction: column;
    
}

.profile-card span {
    font-size: 12px;
    color: #555;
}

.profile-card a {
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
}


#inicio{
    color: rgb(0, 0, 0);
}
